<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body>

<div class="container">
    <h2 th:text="${formTitle}">Ajouter une specialite</h2>

    <form th:action="@{/admin/specialites/save}" th:object="${specialite}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input class="form-control"
                   th:field="*{name}"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                   required>
            <div class="invalid-feedback" th:errors="*{name}"></div>
        </div>

        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a th:href="@{/admin/specialites}" class="btn btn-secondary">Annuler</a>
    </form>
</div>

<footer th:replace="fragments/footer :: foot"></footer>

</body>
</html>
